@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 254, 208, 73;
  --background-end-rgb: 247, 202, 71;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    rgba(255,217,88),rgba(255,177,82)
  );
  background-size: cover;
  
}
